*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background: url(./images/bgg\ \(3\).jpg) no-repeat 0 0;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 1.2em;
    z-index: 2;
    color: #fff;
}

.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.5px;
}

.logo img{
    width: 40px;
    margin-right: 8px;
}

.menu-list li{
    list-style: none;
    display: inline-block;
    margin-left: 44px;
    cursor: pointer;
    transition: color 0.5s;
    color: #fff;
}

.menu-list li:active,
.menu-list li:hover{
    color: #22b512;
    font-weight: bold;
}

.main{
    padding-top: 90px;
    position: relative;
    flex: 1;
    display: flex;
    color: #fff;
}

.left{
    max-width: 50%;
    padding: 0 64px;
    color: #fff;
}


.title{
    font-size: 2.8em;
    letter-spacing: 1px;
    margin: 48px auto;
    color: #ffffff;
}

.title strong{
    font-size: 1.2em;
    display: block;
    line-height: 80px;
    color: #ffffff;
}

.msg{
    max-width: 80%;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
    color: #fff;
}

button.cta{
    border: none;
    outline: none;
    background-color: #fff;
    color: #0a0a0a;
    padding: 18px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 7px 12px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.5s;
}

button.cta:hover {
    background-color: #22b512;
}

button span {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-weight: bold;
}

button.cta i {
    font-size: 1.7em;
    margin-left: 16px;
}


/*  Right Side  */

.right {
    padding: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.right img {
    max-width: 450px;
}

.colors {
    display: flex;
    border-top: 3px double #e08d49;
}

.colors .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 180px;
    padding-top: 40px;
    color: #fff;
}

.item img {
    position: relative;
    width: 60px;
    cursor: pointer;
    transition: width 0.5s;
}

.item img:hover {
    width: 70px;
}

.item .color-selector {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #161515;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 50%;
}

.item:first-child {
    transform: translateX(-50%);
}

.item:last-child {
    transform: translateX(50%);
}

.item.active img {
    width: 130px;
}

.item.active .color-selector {
    width: 28px;
    height: 28px;
    background-color: rgb(183, 110, 121);
}

.item.active {
    min-width: 220px;
}

.additional-info {
    background-color: rgba(183, 110, 121);
    color: #f3f3f3;
    border-radius: 10px;
    position: absolute;
    left: 72%;
    width: 75%;
    text-align: right;
    padding: 16px 24px;
    line-height: 23px;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.additional-info:hover{
    background-color: rgb(183, 110, 121);
    color: #000000;
}

/* about */
.about {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.about .row .image {
    text-align: center;
    margin-right: 2rem;
}

.about .row .image img {
    max-width: 450px;
    border-radius: .5rem;
}

.about .row .content {
    text-align: right;
}

.about .row .content h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.about .row .content p i {
    padding-right: .5rem;
    color: #637CBB;
}

.btn {
    background-color: #637CBB;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #445573;
}


/* about ends here */


